
<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'> -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery1.min.js"></script>
<!-- start menu -->
<link href="__PUBLIC__/Home/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="__PUBLIC__/Home/js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!-- dropdown -->
<script src="__PUBLIC__/Home/js/jquery.easydropdown.js"></script>
</head>
<body>
<div class="header-top">
    <div class="wrap">
        <div class="header-top-left">
            <div class="box">
                <select tabindex="4" class="dropdown">
                    <option value="" class="label" value="">Language :</option>
                    <option value="1">English</option>
                    <option value="2">French</option>
                    <option value="3">German</option>
                </select>
            </div>

            <div class="clear"></div>
        </div>
        <div class="cssmenu">
            <ul>
                <li><a href="{:U('Admin/index/index')}">管理员登陆</a></li>
                <!--<li><a href="register.html">Sign Up</a></li>-->
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                <a href="index.html"><img src="__PUBLIC__/Home/images/logo.png" alt=""/></a>
            </div>
            <div class="menu">
                <ul class="megamenu skyblue">
                    <!--导航-->
                    <li class="active grid"><a href="{:U('Index/index')}">首页</a></li>
					<li><a class="color6" href="{:U('Index/showList')}">资讯</a></li>
                	<li><a class="color6" href="{:U('Index/about')}">关于我们</a></li>
                </ul>
            </div>
        </div>
        <div class="header-bottom-right">
            <div class="search">
                <input type="text" name="s" class="textbox" value="Search" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search';}">
                <input type="submit" value="Subscribe" id="submit" name="submit">
                <div id="response"> </div>
            </div>


        </div>
        <div class="clear"></div>
    </div>
</div>
       <div class="login">
          <div class="wrap">
				<ul class="breadcrumb breadcrumb__t" style="font-size: larger;"><a class="home" href="{:U('Index/index')}">Home</a>  / About</ul>
				<div class="section group">
				   <div class="labout span_1_of_about">
					 <h3>Testimonials</h3>
					  <div class="testimonials ">
						<div class="testi-item">
						<blockquote class="testi-item_blockquote">
							<a href="#">我们来自河北民族师范学院，起源于承德避暑山庄。 
							我们来自河北民族师范学院，起源于承德避暑山庄。
							我们来自河北民族师范学院，起源于承德避暑山庄。</a>
							<div class="clear"></div>
						</blockquote>
							<small class="testi-meta"><span class="user">欢迎进入河北民族师范学院</span>,
							<span class="info">官网</span><br><a href="http://www.hbun.net/">http://www.hbun.net/</a></small></div>
					   </div>
					   <div class="testimonials ">
						<div class="testi-item">
						<blockquote class="testi-item_blockquote">
							<a href="#">我们来自河北民族师范学院，起源于承德避暑山庄。 
							我们来自河北民族师范学院，起源于承德避暑山庄。
							我们来自河北民族师范学院，起源于承德避暑山庄。 </a>
							<div class="clear"></div>
						</blockquote>
							<small class="testi-meta"><span class="user">欢迎进入河北民族师范学院</span>,
							<span class="info">官网</span><br><a href="http://www.hbun.net/">http://www.hbun.net/</a></small></div>
					   </div>
				    </div>
				    <div class="cont span_2_of_about">
				       <h3>山庄跆拳道</h3>
                        <div class="about_info">
                            <p >
                            	跆拳道（韩文：태권도，英文：Taekwondo），是现代奥运会正式比赛项目之一，是一种主要使用手及脚进行格斗或对抗的运动。
跆拳道起源于朝鲜半岛，早期是由朝鲜三国时代的跆跟、花郎道演化而来的，韩国民间流行的一项技击术。
1955年以前，韩国是没有跆拳道一词的，韩国的武术也以空手道、唐手道和民间少数的跆跟等为主，日治时期，大量韩国青年学生赴日留学，在日本接受了系统的松涛馆空手道训练，回国后他们开始创立道馆教授学生。日本战败后，韩国获得民族独立，大批空手道、唐手道道馆兴起，韩国早期空手道传播者们将民族传统武术跆跟与空手道相结合，称为唐手道。并出现了最早的一批韩国道馆，这就是后来的九大道馆。 [1] 
“跆拳道”一词，是1955年由韩国的崔泓熙将军命名。崔泓熙将军早年在留学日本时，学习了日本松涛馆流空手道，并将其与韩国传统武技跆跟、手搏等技术融入到跆拳道中去。总之，现代的跆拳道是结合当代东亚武技之长的韩国发源武术运动之一。 [1] 
跆拳道是经过东亚文化发展的一项韩国武术，以“始于礼，终于礼”的武道精神为基础。其脚法占70%。跆拳道的套路共有25套；另外还有兵器、擒拿、摔锁、对拆自卫术及10余种基本功夫等。 [2] 
跆拳道于1988年奥运会时为示范项目；于1992年的巴塞罗那奥运会开始为试验比赛项目；到2000年的悉尼奥运会成为正式比赛项目。
跆拳道在全世界的组织主要分为两个体系，分别为：国际跆拳道联盟（ITF）和世界跆拳道联盟（WTF）。奥运会采用的是WTF体系。
                            </p>
                        </div>

				        <h5 class="m_6">社团成员介绍</h5>
				     <div class="section group">
						<!--<div class="col_1_of_about-box span_1_of_about-box">-->
						   <!--<a class="popup-with-zoom-anim" href="#small-dialog3">  <span class="rollover"></span><img src="__PUBLIC__/Home/images/a-img.jpg" title="continue" alt=""/></a>-->
		                     <!--<div id="small-dialog3" class="mfp-hide">-->
							   <!--<div class="pop_up2">-->
							   	 <!--<h2>个人简介</h2>-->
								 <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>-->
								 <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>-->
								<!--</div>-->
							 <!--</div>-->
							 <!--<h4 class="m_7"><a href="#">consectetuer adipiscing</a></h4>-->
							 <!--<p>Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod.</p>-->
					     <!--</div>-->
						<!--<div class="col_1_of_about-box span_1_of_about-box">-->
						   <!--<a class="popup-with-zoom-anim" href="#small-dialog3">  <span class="rollover"></span><img src="__PUBLIC__/Home/images/a-img1.jpg" title="continue" alt=""/></a>-->
		                    <!--<h4 class="m_7"><a href="#">consectetuer adipiscing</a></h4>-->
							 <!--<p>Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod.</p>-->
					     <!--</div>-->
						 <foreach name="member_list" item="v">
							 <div class="col_1_of_about-box span_1_of_about-box">
								 <a class="popup-with-zoom-anim" href="#small-dialog3">  <span class="rollover"></span><img src="/sztaekwondo{$v.img_logo}" title="continue" alt=""/></a>
								 <h4 class="m_7"><a href="#">{$v.img_title}</a></h4>
								 <!--<p>Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod.</p>-->
							 </div>
						 </foreach>

				        <div class="clear"></div> 
							
		   </div>
		   <!-- Add fancyBox main JS and CSS files -->
		<script src="__PUBLIC__/Home/js/jquery.magnific-popup.js" type="text/javascript"></script>
		<link href="__PUBLIC__/Home/css/magnific-popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
           </div>
		   <div class="clear"></div>	
		  </div>
	</div>	
   </div>  
    <div class="footer">
        <div class="footer-middle">
			<div class="wrap">
			 <div class="section group example">
			  <div class="col_1_of_f_1 span_1_of_f_1">
				 <div class="section group example">
				   <div class="col_1_of_f_2 span_1_of_f_2">
				      <h3>山庄跆拳道，欢迎您</h3>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<div class="like_box">	
							<div class="fb-like-box" data-href="http://www.xwcms.net" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
						</div>
 				  </div>
				  <div class="col_1_of_f_2 span_1_of_f_2">
						<h3>跆拳道微博</h3>
				       <div class="recent-tweet">
							<div class="recent-tweet-icon">
								<span> </span>
							</div>
							<div class="recent-tweet-info">
								<p>如果你想了解更多关于山庄跆拳道社团的各类动态，请点击<a href="https://weibo.com/">山庄跆拳道微博</a> 山庄跆拳道欢迎您</p>
							</div>
							<div class="clear"> </div>
					   </div>
					   <div class="recent-tweet">
							<div class="recent-tweet-icon">
								<span> </span>
							</div>
							<div class="recent-tweet-info">
								<p>如果你想了解更多关于山庄跆拳道社团的各类动态，请点击<a href="https://weibo.com/">山庄跆拳道微博</a> 山庄跆拳道欢迎您</p>
							</div>
							<div class="clear"> </div>
					  </div>
				</div>
				<div class="clear"></div>
		      </div>
 			 </div>
			 <div class="col_1_of_f_1 span_1_of_f_1">
			   <div class="section group example">
				 <div class="col_1_of_f_2 span_1_of_f_2">
				    <h3>友情链接</h3>
						<ul class="f-list1">
						    <li><a href="http://www.chntkd.org.cn/">中国跆拳道协会</a></li>
				            <li><a href="http://www.chntkd.org.cn/">河北跆拳道协会</a></li>
				            <li><a href="http://www.chntkd.org.cn/">山东跆拳道协会</a></li>
				             <li><a href="http://www.chntkd.org.cn/">北京跆拳道协会</a></li>
				            <li><a href="http://www.chntkd.org.cn/">天津跆拳道协会</a></li>
				            <li><a href="http://www.chntkd.org.cn/">跆拳道协会</a></li>
			         	</ul>
 				 </div>
				 <div class="col_1_of_f_2 span_1_of_f_2">
				   <h3>联系我们</h3>
						<div class="company_address">
					                <p>河北省承德市</p>
							   		<p>承德市，双桥区，河北民族师范学院</p>
							   		<p>中国</p>
					   		<p>Phone:(0014) 222 666 444</p>
					   		<p>Fax: (0314) 000 00 00 0</p>
					 	 	<p>Email: <span>shanzhuangtaiquandao@nicai.com</span></p>
					   		
					   </div>
					   <div class="social-media">
						     <ul>
						        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
						        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
						        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
						        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
						    </ul>
					   </div>
				</div>
				<div class="clear"></div>
		    </div>
		   </div>
		  <div class="clear"></div>
		    </div>
		  </div>
		</div>
		<div class="footer-bottom">
			<div class="wrap">
	             <div class="copy">
			        <p>Copyright &copy; 2018.洋²艳鼎旭 All rights reserved.<a href='http://www.hbun.net' title='HOME'>HBUN</a></p>
		         </div>
				<div class="f-list2">
				 <ul>
					<li class="active"><a href="{:U('Index/about')}">关于我们</a></li> |
					<li><a href="{:U('Index/about')}">Delivery & Returns</a></li> |
					<li><a href="{:U('Index/about')}">Terms & Conditions</a></li> |
					<li><a href="{:U('Index/about')}">联系我们</a></li> 
				</ul>
				</div>
				<div class="clear"></div>
		      </div>
			</div>
		</div>
</body>
</html>